{{ if isset .Site.Params "social" }}
<section id="contact">
<div class="contact">
	<div class="container">
		<div class="row">

			<div class="col-lg-6">
				<iframe width="100%" height="350" frameborder="0" style="border:0"
				src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJDfQ5Yw7daS4RgFVk9TRZoIs&key=AIzaSyBgUl1VRbDoYTKMO43YqGwqQRy0lcsTYcs" allowfullscreen></iframe>
						</div>

			<div class="col-lg-6">
				<p>Alamat Inagro <br>
				Jl. Raya Jampang, Desa Karihkil Km 7 <br>
				Kec. Ciseeng, Kab. Bogor 16330<br>
				<i class="fa fa-phone lightgreen" aria-hidden="true"></i> 0251 - 854 1500<br>
				<i class="fa fa-fax lightgreen" aria-hidden="true"></i> 0251 - 854 1505<br>
				</p>
				<ul class="list-inline contact-social-buttons">
					{{ partial "social.html" . }}
				</ul>
			</div>

		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.contact -->
</section>
{{ end }}
