{{ if isset .Site.Params "social" }}
<section id="contact">
<div class="contact">
	<div class="container">
		<div class="row">

			<div class="col-lg-6">
				<iframe width="100%" height="430" frameborder="0" style="border:0"
				src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJDfQ5Yw7daS4RgFVk9TRZoIs&key=AIzaSyBgUl1VRbDoYTKMO43YqGwqQRy0lcsTYcs" allowfullscreen></iframe>
						</div>

			<div class="col-lg-6">
			 <h3>Contact </h3>
				<form id="contactForm" action="https://hooks.zapier.com/hooks/catch/2250565/9tdouz/" type="POST">
					<p>Full Name:<br>
					<input type="text" name="fullname" required><br>
							Your Email: <br>
							<input type="text" name="email" required> <br>
							Phone: <br>
							<input type="text" name="phone"> <br>
							Message: <br>
							<input type="textfield" style="height:100px;" name="messsage" required><br>
					<input type="submit" value="Submit"><br>
				</p>
				</form>
			</div>

		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.contact -->
</section>
{{ end }}
