<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="page-scroll navbar-brand" href="#intro"><img src="/img/LogoInagrowhite.png" style="height:50px;"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#programs">Programs</a>
                </li>
                <li>
                <a class="page-scroll" href="#facility">Facility</a>
                </li>
                <li>
                <a class="page-scroll" href="#agtech" title="">Agtech</a>
                </li>
                <!-- This can be part of the facilities li>
                <a class="" href="aquaculture.html">AquaCulture</a>
                </li>
                <li>
                <a class="" href="animals.html">Animals</a>
                </li>
                <li>
                <a class="" href="plantation.html">Plantation</a>
              </li-->
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
            {{ if isset .Site.Params "social" }}
               <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                {{ end }}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Pull slider custome CSS Slider Start -->
{{ range .Site.Params.custom_css_slider }}
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
{{ end }}


<!-- Duplicate? {{ range .Site.Params.custom_css_slider }}
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
{{ end }} -->
<!-- Slider End -->

<section id="lab_video_slider">

  <div class="container-fluid">

    <div class="row">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

      <!-- Link Swiper's CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.5/css/swiper.min.css">

      <!-- Swiper -->
      <div class="swiper-container">
        <div class="swiper-wrapper">
			<div id="slide_one" class="swiper-slide">
		    <div id="lab_video_text_overlay">
			    <h2>{{ .Site.Title }}</h2>
			    <h3>{{ .Site.Params.description }}</h3>
			</div>
            <!-- VIDEO -->
            <img class="img-responsive avatar" src="/{{ .Site.Params.slider1 }}" width="100%">
            <!-- END VIDEO -->
          </div>

			<div id="slide_two" class="swiper-slide">
			<div id="lab_video_text_overlay">
			    <h2>{{ .Site.Title }}</h2>
			    <h3>{{ .Site.Params.description }}</h3>
			</div>
					<!-- end #lab_overlay -->
			<img class="img-responsive avatar" src="/{{ .Site.Params.slider2 }}" width="100%">
			</div>

			<div id="slide_three" class="swiper-slide">
			<div id="lab_video_text_overlay">
			    <h2>{{ .Site.Title }}</h2>
			    <h3>{{ .Site.Params.description }}</h3>
			</div>
             <!-- VIDEO -->
            <img class="img-responsive avatar" src="/{{ .Site.Params.slider3 }}" width="100%">
            <!-- END VIDEO -->
			</div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
    <!-- end .row -->
  </div>
  <!-- end .container-->
  </div>
  <!-- end #section -->
