<!-- facility Section -->
<section id="facility" class="container content-section text-center">
  <br><br>
  <br>
  <h1>Our Facility</h1>
  <br>
  <div class='row'>
      <div class='col-md-12'>
        <div class="carousel slide media-carousel" id="media">
          <div class="carousel-inner">
            <div class="item  active">
              <div class="row">
                <div class="col-md-4 highlight">
                  <img src="/img/fruitfarm.jpg">
  	               <div class="hoverText"><h2>Fruit Plantation</h2>
                       <p></p>
                       <p>We cultivate tropical fruit such as durian, mangosteen, etc.
                       </p>
                         <p><a href="/facility/fruitplantation" class="hlBtn">Learn More</a></p>
                   </div>
  		          </div>
                <div class="col-md-4 highlight">
                  <img src="/img/buffalo.jpg">
            	      <div class="hoverText"><h2>Animals</h2>
                      <p></p>
                      <p>Raising unique animals that are only available in Indonesia.
                      </p>
                        <p><a href="/facility/animals" class="hlBtn">Learn More</a></p>
                      </div>
            		 </div>
                <div class="col-md-4 highlight">
                  <img src="/img/fishcultivationv2.jpg">
            	     <div class="hoverText"><h2>Aquaculture</h2>
                     <p></p>
                     <p>Fish farming for substainable food sources.
                     </p>
                       <!--p><a href="/facility/aquaculture.html" class="hlBtn">Learn More</a></p-->
            		</div>
            	</div>
            </div>

          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
      <a data-slide="next" href="#media" class="right carousel-control">›</a>
    </div>
  </div>
  <p></p>
  <p></p>
  </section>
