<!-- facility Section -->
<section id="facility" class="container content-section text-center">
  <br><br>
  <br>
  <h1>Our Facility</h1>
  <br>
  	<div class="row">
  		<div class="col-6 col-md-4 highlight">
        <img src="/img/fruitfarm.jpg">
  	     <div class="hoverText"><h2>Fruit Plantation</h2>
           <p></p>
           <p>We cultivate tropical fruit such as durian, mangosteen, etc.
           </p>
             <p><a href="" class="hlBtn">Learn More</a></p>
       </div>
  		</div>
      <div class="col-6 col-md-4 highlight">
        <img src="/img/buffalo.jpg">
  	      <div class="hoverText"><h2>Animals</h2>
            <p></p>
            <p>Raising unique animals that are only available in Indonesia.
            </p>
              <p><a href="" class="hlBtn">Learn More</a></p>
            </div>
  		</div>
      <div class="col-6 col-md-4 highlight">
        <img src="/img/fishcultivationv2.jpg">
  	     <div class="hoverText"><h2>Aquaculture</h2>
           <p></p>
           <p>Fish farming for substainable food sources.
           </p>
             <p><a href="" class="hlBtn">Learn More</a></p>
  		</div>
  	</div>
  <p></p>
  <p></p>
  </section>
