<section id="news" class="container content-section text-center">
  <div class="row">
    <h1> News </h1>
    {{ range first 3 (where .Data.Pages "Section" "news") }}
      <div class="col-md-4">
        <div class="summary">
          <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
          <p>{{ .Summary }}</p>
        </div>
        {{ if .Truncated }}
        <div class="read-more-link">
          <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        {{ end }}
      </div>
 {{ end }}
    </div>
    <div class="row">
<h4><a href="/news">More News</h4></a>
    </div>

</section>
